@using TM.RazorSharedUI.Models.ViewModels

@model TextAreaViewModel
@{
  string className = Model.IsCompact ? "text-start py-0" : "text-start py-3";
  string inputClassName = $"form-control {Model.InputClassName}";
  string containerClassName = $"input-group {Model.InputContainerClassName}";

}

<div class="@Model.ClassName">
  <div class="@className">
    @if (Model.IsLabelVisible)
    {
      <label for='@Model.Id' class='form-label fs-5 fw-bold'>@Model.Title</label>
    }

    <div class='@containerClassName'>
      @if (Model.IsDisabled)
      {
        <textarea id='@Model.Id' name='@Model.Name' class='@inputClassName' placeholder='@Model.PlaceHolder' value='@Model.Value' disabled ></textarea>
      }
      else
      {
        <textarea id='@Model.Id' name='@Model.Name' class='@inputClassName' placeholder='@Model.PlaceHolder' value='@Model.Value'></textarea>
      }
    </div>
    <span id='@Model.NotifId' class="text-danger text-sm"></span>
  </div>
</div>
